{"openapi":"3.1.0","info":{"title":"NewHype ERP API","description":"API REST Multi-Tenant para ERP de Tienda de Ropa","version":"1.0"},"servers":[{"url":"http://spring.informaticapp.com:5001/New-Hype-Project","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Colores","description":"Gestión de colores"},{"name":"Productos","description":"CRUD de productos"},{"name":"Roles","description":"Gestión de roles y permisos"},{"name":"Platform - Operaciones","description":"Dashboard, pagos, tickets, auditoría"},{"name":"Storefront","description":"Tienda online B2C para clientes finales"},{"name":"Usuarios","description":"Gestión de usuarios del tenant"},{"name":"Géneros","description":"Gestión de géneros"},{"name":"Reportes","description":"Reportes y analítica del negocio"},{"name":"Materiales","description":"Gestión de materiales"},{"name":"Entidades Comerciales","description":"Gestión de clientes y proveedores"},{"name":"Transferencias","description":"Transferencias de inventario entre almacenes"},{"name":"Notas de Crédito","description":"Gestión de notas de crédito y devoluciones"},{"name":"Platform - Cupones","description":"Gestión de cupones promocionales"},{"name":"Recepciones","description":"Gestión de recepciones de compra"},{"name":"Cajas Registradoras","description":"Gestión de cajas registradoras"},{"name":"Ubigeo","description":"Datos geográficos del Perú (read-only)"},{"name":"Unidades de Medida","description":"Gestión de unidades de medida"},{"name":"Motivos Movimiento","description":"Gestión de motivos de movimiento de inventario"},{"name":"Almacenes","description":"Gestión de almacenes del tenant"},{"name":"Compras","description":"Gestión de órdenes de compra"},{"name":"Platform - Planes","description":"Gestión de planes de suscripción"},{"name":"Platform - Tenants","description":"Gestión de tenants (Superadmin)"},{"name":"Marcas","description":"Gestión de marcas"},{"name":"Tallas","description":"Gestión de tallas"},{"name":"Configuración General","description":"Empresa, series SUNAT, métodos de pago, política devoluciones"},{"name":"Ventas","description":"Gestión de ventas y POS"},{"name":"Inventario","description":"Gestión de inventario, kardex, alertas, ajustes y exportación"},{"name":"Categorías","description":"Gestión de categorías"},{"name":"Auth","description":"Autenticación y registro"},{"name":"Caja","description":"Sesiones de caja y movimientos"}],"paths":{"/api/v1/usuarios/{id}":{"get":{"tags":["Usuarios"],"summary":"Detalle de usuario con rol, permisos y último acceso","operationId":"obtenerPorId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUsuarioResponse"}}}}}},"put":{"tags":["Usuarios"],"summary":"Actualizar datos de usuario (email único en tenant)","operationId":"actualizar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActualizarUsuarioRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUsuarioResponse"}}}}}}},"/api/v1/storefront/perfil":{"get":{"tags":["Storefront"],"summary":"Ver perfil del cliente autenticado","operationId":"obtenerPerfil","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePerfilClienteResponse"}}}}}},"put":{"tags":["Storefront"],"summary":"Actualizar perfil del cliente autenticado","operationId":"actualizarPerfil","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActualizarPerfilRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePerfilClienteResponse"}}}}}}},"/api/v1/roles/{id}":{"put":{"tags":["Roles"],"summary":"Actualizar permisos del rol (no roles es_sistema)","operationId":"actualizar_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearRolRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRolResponse"}}}}}}},"/api/v1/productos/{id}":{"get":{"tags":["Productos"],"summary":"Obtener producto por ID","operationId":"obtenerPorId_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductoResponse"}}}}}},"put":{"tags":["Productos"],"summary":"Actualizar producto","operationId":"actualizar_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductoResponse"}}}}}},"delete":{"tags":["Productos"],"summary":"Eliminar producto (soft delete)","operationId":"eliminar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/platform/tenants/{id}":{"get":{"tags":["Platform - Tenants"],"summary":"Detalle de tenant con plan, métricas","operationId":"obtenerPorId_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTenantResponse"}}}}}},"put":{"tags":["Platform - Tenants"],"summary":"Actualizar datos del tenant + overrides de límites","operationId":"actualizar_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActualizarTenantRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTenantResponse"}}}}}},"delete":{"tags":["Platform - Tenants"],"summary":"Soft delete del tenant","operationId":"eliminar_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/platform/tenants/{id}/modulos":{"get":{"tags":["Platform - Tenants"],"summary":"Módulos activos del tenant (plan + overrides)","operationId":"obtenerModulos","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListModuloResponse"}}}}}},"put":{"tags":["Platform - Tenants"],"summary":"Override manual de módulos del tenant","operationId":"actualizarModulos","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActualizarModulosTenantRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListModuloResponse"}}}}}}},"/api/v1/platform/planes/{id}":{"put":{"tags":["Platform - Planes"],"summary":"Actualizar plan (no afecta tenants existentes)","operationId":"actualizar_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearPlanRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlanResponse"}}}}}}},"/api/v1/entidades/{id}":{"get":{"tags":["Entidades Comerciales"],"summary":"Obtener entidad por ID","operationId":"obtenerPorId_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEntidadResponse"}}}}}},"put":{"tags":["Entidades Comerciales"],"summary":"Actualizar entidad (no cambia documento)","operationId":"actualizar_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntidadRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEntidadResponse"}}}}}}},"/api/v1/configuracion/unidades-medida/{id}":{"put":{"tags":["Unidades de Medida"],"summary":"Actualizar registro","operationId":"actualizar_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}},"delete":{"tags":["Unidades de Medida"],"summary":"Eliminar registro (soft delete)","operationId":"eliminar_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/configuracion/tallas/{id}":{"put":{"tags":["Tallas"],"summary":"Actualizar registro","operationId":"actualizar_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}},"delete":{"tags":["Tallas"],"summary":"Eliminar registro (soft delete)","operationId":"eliminar_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/configuracion/series-comprobantes/{id}":{"put":{"tags":["Configuración General"],"summary":"Actualizar serie","operationId":"actualizarSerie","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearSerieComprobanteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSerieComprobanteResponse"}}}}}}},"/api/v1/configuracion/politica-devoluciones":{"get":{"tags":["Configuración General"],"summary":"Ver política de devoluciones actual","operationId":"obtenerPolitica","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePoliticaDevolucionesResponse"}}}}}},"put":{"tags":["Configuración General"],"summary":"Actualizar política de devoluciones","operationId":"actualizarPolitica","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoliticaDevolucionesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePoliticaDevolucionesResponse"}}}}}}},"/api/v1/configuracion/motivos-movimiento/{id}":{"put":{"tags":["Motivos Movimiento"],"summary":"Actualizar motivo de movimiento","operationId":"actualizarMotivo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearMotivoMovimientoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMotivoMovimientoResponse"}}}}}}},"/api/v1/configuracion/metodos-pago/{id}":{"put":{"tags":["Configuración General"],"summary":"Actualizar método de pago","operationId":"actualizarMetodoPago","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearMetodoPagoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMetodoPagoResponse"}}}}}}},"/api/v1/configuracion/materiales/{id}":{"put":{"tags":["Materiales"],"summary":"Actualizar registro","operationId":"actualizar_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}},"delete":{"tags":["Materiales"],"summary":"Eliminar registro (soft delete)","operationId":"eliminar_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/configuracion/marcas/{id}":{"put":{"tags":["Marcas"],"summary":"Actualizar registro","operationId":"actualizar_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}},"delete":{"tags":["Marcas"],"summary":"Eliminar registro (soft delete)","operationId":"eliminar_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/configuracion/generos/{id}":{"put":{"tags":["Géneros"],"summary":"Actualizar registro","operationId":"actualizar_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}},"delete":{"tags":["Géneros"],"summary":"Eliminar registro (soft delete)","operationId":"eliminar_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/configuracion/empresa":{"get":{"tags":["Configuración General"],"summary":"Obtener datos de la empresa del tenant","operationId":"obtenerEmpresa","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseConfiguracionEmpresaResponse"}}}}}},"put":{"tags":["Configuración General"],"summary":"Actualizar datos empresa + config fiscal + SUNAT","operationId":"actualizarEmpresa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfiguracionEmpresaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseConfiguracionEmpresaResponse"}}}}}}},"/api/v1/configuracion/colores/{id}":{"put":{"tags":["Colores"],"summary":"Actualizar registro","operationId":"actualizar_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}},"delete":{"tags":["Colores"],"summary":"Eliminar registro (soft delete)","operationId":"eliminar_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/configuracion/categorias/{id}":{"put":{"tags":["Categorías"],"summary":"Actualizar registro","operationId":"actualizar_12","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}},"delete":{"tags":["Categorías"],"summary":"Eliminar registro (soft delete)","operationId":"eliminar_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/configuracion/cajas-registradoras/{id}":{"put":{"tags":["Cajas Registradoras"],"summary":"Actualizar caja registradora","operationId":"actualizarCaja","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearCajaRegistradoraRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCajaRegistradoraResponse"}}}}}}},"/api/v1/compras/ordenes/{id}":{"get":{"tags":["Compras"],"summary":"Detalle de orden de compra con productos","operationId":"obtenerPorId_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOrdenCompraResponse"}}}}}},"put":{"tags":["Compras"],"summary":"Actualizar orden de compra pendiente","operationId":"actualizar_13","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearOrdenCompraRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOrdenCompraResponse"}}}}}},"delete":{"tags":["Compras"],"summary":"Cancelar orden de compra","operationId":"eliminar_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/almacenes/{id}":{"put":{"tags":["Almacenes"],"summary":"Actualizar almacén","operationId":"actualizar_14","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearAlmacenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAlmacenResponse"}}}}}}},"/api/v1/ventas":{"get":{"tags":["Ventas"],"summary":"Listar ventas con filtros","operationId":"listar","parameters":[{"name":"estado","in":"query","required":false,"schema":{"type":"string"}},{"name":"fechaDesde","in":"query","required":false,"schema":{"type":"string"}},{"name":"clienteId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListVentaResponse"}}}}}},"post":{"tags":["Ventas"],"summary":"Crear venta (estado PENDIENTE)","operationId":"crear","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearVentaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVentaResponse"}}}}}}},"/api/v1/ventas/{id}/confirmar-pago":{"post":{"tags":["Ventas"],"summary":"Confirmar pago → COMPLETADA, descuenta stock, registra kardex","operationId":"confirmarPago","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmarPagoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVentaResponse"}}}}}}},"/api/v1/usuarios":{"get":{"tags":["Usuarios"],"summary":"Listar usuarios con filtros","operationId":"listar_1","parameters":[{"name":"rolId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"estado","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListUsuarioResponse"}}}}}},"post":{"tags":["Usuarios"],"summary":"Crear usuario (password 8+ chars, mayúsc, minúsc, números)","operationId":"crear_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearUsuarioRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUsuarioResponse"}}}}}}},"/api/v1/transferencias":{"get":{"tags":["Transferencias"],"summary":"Listar transferencias con filtros","operationId":"listar_2","parameters":[{"name":"estado","in":"query","required":false,"schema":{"type":"string"}},{"name":"almacenOrigenId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListTransferenciaResponse"}}}}}},"post":{"tags":["Transferencias"],"summary":"Crear transferencia (estado PENDIENTE)","operationId":"crear_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearTransferenciaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransferenciaResponse"}}}}}}},"/api/v1/storefront/pedidos":{"get":{"tags":["Storefront"],"summary":"Listar mis pedidos (requiere auth storefront)","operationId":"misPedidos","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagePedidoResponse"}}}}}},"post":{"tags":["Storefront"],"summary":"Crear pedido online (requiere auth storefront)","operationId":"crearPedido","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearPedidoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePedidoResponse"}}}}}}},"/api/v1/storefront/auth/register":{"post":{"tags":["Storefront"],"summary":"Registrar nuevo cliente B2C","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorefrontRegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthResponse"}}}}}}},"/api/v1/storefront/auth/login":{"post":{"tags":["Auth"],"summary":"Login de cliente tienda (storefront)","operationId":"storefrontLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorefrontLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthResponse"}}}}}}},"/api/v1/roles":{"get":{"tags":["Roles"],"summary":"Listar roles con conteo de usuarios","operationId":"listar_3","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRolResponse"}}}}}},"post":{"tags":["Roles"],"summary":"Crear rol con permisos JSON","operationId":"crear_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearRolRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRolResponse"}}}}}}},"/api/v1/productos":{"get":{"tags":["Productos"],"summary":"Listar productos con filtros y paginación","operationId":"listar_4","parameters":[{"name":"nombre","in":"query","required":false,"schema":{"type":"string"}},{"name":"categoriaId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListProductoResponse"}}}}}},"post":{"tags":["Productos"],"summary":"Crear producto","operationId":"crear_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductoResponse"}}}}}}},"/api/v1/productos/{id}/imagenes":{"get":{"tags":["Productos"],"summary":"Listar imágenes de un producto","operationId":"listarImagenes","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListImagenResponse"}}}}}},"post":{"tags":["Productos"],"summary":"Agregar imagen a un producto","operationId":"agregarImagen","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImagenResponse"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseImagenResponse"}}}}}}},"/api/v1/productos/liquidacion":{"post":{"tags":["Productos"],"summary":"Marcar productos en liquidación","operationId":"marcarLiquidacion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LiquidacionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseInteger"}}}}}}},"/api/v1/platform/tenants":{"get":{"tags":["Platform - Tenants"],"summary":"Listar tenants con filtros","operationId":"listar_5","parameters":[{"name":"estado","in":"query","required":false,"schema":{"type":"string"}},{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListTenantResponse"}}}}}},"post":{"tags":["Platform - Tenants"],"summary":"Crear tenant + admin user + suscripción opcional","operationId":"crear_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearTenantRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTenantResponse"}}}}}}},"/api/v1/platform/tenants/{id}/suscripcion":{"post":{"tags":["Platform - Tenants"],"summary":"Asignar/cambiar plan a tenant","operationId":"asignarPlan","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsignarPlanRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSuscripcionResponse"}}}}}}},"/api/v1/platform/tenants/{id}/recordatorio-pago":{"post":{"tags":["Platform - Tenants"],"summary":"Enviar recordatorio de pago al tenant","operationId":"enviarRecordatorio","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/platform/planes":{"get":{"tags":["Platform - Planes"],"summary":"Listar planes con conteo de tenants","operationId":"listar_6","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPlanResponse"}}}}}},"post":{"tags":["Platform - Planes"],"summary":"Crear plan de suscripción","operationId":"crear_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearPlanRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlanResponse"}}}}}}},"/api/v1/platform/pagos":{"post":{"tags":["Platform - Operaciones"],"summary":"Registrar pago manual → extiende fecha_fin +30d","operationId":"registrarPago","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistrarPagoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagoResponse"}}}}}}},"/api/v1/platform/cupones":{"get":{"tags":["Platform - Cupones"],"summary":"Listar cupones","operationId":"listar_7","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCuponResponse"}}}}}},"post":{"tags":["Platform - Cupones"],"summary":"Crear cupón promocional","operationId":"crear_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearCuponRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCuponResponse"}}}}}}},"/api/v1/platform/auth/login":{"post":{"tags":["Auth"],"summary":"Login de superadmin (plataforma)","operationId":"platformLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthResponse"}}}}}}},"/api/v1/notas-credito":{"get":{"tags":["Notas de Crédito"],"summary":"Listar notas de crédito con filtros","operationId":"listar_8","parameters":[{"name":"ventaOrigenId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"estado","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListNotaCreditoResponse"}}}}}},"post":{"tags":["Notas de Crédito"],"summary":"Emitir nota de crédito (devuelve stock)","operationId":"crear_8","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearNotaCreditoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseNotaCreditoResponse"}}}}}}},"/api/v1/inventario/ajustes":{"post":{"tags":["Inventario"],"summary":"Ajuste manual de inventario (ingreso/egreso + motivo)","operationId":"ajusteInventario","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AjusteInventarioRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseKardexResponse"}}}}}}},"/api/v1/entidades":{"get":{"tags":["Entidades Comerciales"],"summary":"Listar entidades con filtros","operationId":"listar_9","parameters":[{"name":"tipoEntidad","in":"query","required":false,"schema":{"type":"string"}},{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListEntidadResponse"}}}}}},"post":{"tags":["Entidades Comerciales"],"summary":"Crear cliente o proveedor","operationId":"crear_9","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntidadRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEntidadResponse"}}}}}}},"/api/v1/configuracion/unidades-medida":{"get":{"tags":["Unidades de Medida"],"summary":"Listar registros activos","operationId":"listar_10","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCatalogResponse"}}}}}},"post":{"tags":["Unidades de Medida"],"summary":"Crear registro","operationId":"crear_10","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}}},"/api/v1/configuracion/tallas":{"get":{"tags":["Tallas"],"summary":"Listar registros activos","operationId":"listar_11","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCatalogResponse"}}}}}},"post":{"tags":["Tallas"],"summary":"Crear registro","operationId":"crear_11","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}}},"/api/v1/configuracion/series-comprobantes":{"get":{"tags":["Configuración General"],"summary":"Listar series de comprobantes (?tipoComprobante=BOLETA)","operationId":"listarSeries","parameters":[{"name":"tipoComprobante","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListSerieComprobanteResponse"}}}}}},"post":{"tags":["Configuración General"],"summary":"Crear serie (formato SUNAT: 4 chars)","operationId":"crearSerie","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearSerieComprobanteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSerieComprobanteResponse"}}}}}}},"/api/v1/configuracion/motivos-movimiento":{"get":{"tags":["Motivos Movimiento"],"summary":"Listar motivos de movimiento (?tipo=ENTRADA)","operationId":"listarMotivos","parameters":[{"name":"tipo","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMotivoMovimientoResponse"}}}}}},"post":{"tags":["Motivos Movimiento"],"summary":"Crear motivo de movimiento","operationId":"crearMotivo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearMotivoMovimientoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMotivoMovimientoResponse"}}}}}}},"/api/v1/configuracion/metodos-pago":{"get":{"tags":["Configuración General"],"summary":"Listar métodos de pago activos","operationId":"listarMetodosPago","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMetodoPagoResponse"}}}}}},"post":{"tags":["Configuración General"],"summary":"Crear método de pago","operationId":"crearMetodoPago","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearMetodoPagoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMetodoPagoResponse"}}}}}}},"/api/v1/configuracion/materiales":{"get":{"tags":["Materiales"],"summary":"Listar registros activos","operationId":"listar_12","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCatalogResponse"}}}}}},"post":{"tags":["Materiales"],"summary":"Crear registro","operationId":"crear_12","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}}},"/api/v1/configuracion/marcas":{"get":{"tags":["Marcas"],"summary":"Listar registros activos","operationId":"listar_13","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCatalogResponse"}}}}}},"post":{"tags":["Marcas"],"summary":"Crear registro","operationId":"crear_13","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}}},"/api/v1/configuracion/generos":{"get":{"tags":["Géneros"],"summary":"Listar registros activos","operationId":"listar_14","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCatalogResponse"}}}}}},"post":{"tags":["Géneros"],"summary":"Crear registro","operationId":"crear_14","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}}},"/api/v1/configuracion/colores":{"get":{"tags":["Colores"],"summary":"Listar registros activos","operationId":"listar_15","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCatalogResponse"}}}}}},"post":{"tags":["Colores"],"summary":"Crear registro","operationId":"crear_15","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}}},"/api/v1/configuracion/categorias":{"get":{"tags":["Categorías"],"summary":"Listar registros activos","operationId":"listar_16","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCatalogResponse"}}}}}},"post":{"tags":["Categorías"],"summary":"Crear registro","operationId":"crear_16","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCatalogResponse"}}}}}}},"/api/v1/configuracion/cajas-registradoras":{"get":{"tags":["Cajas Registradoras"],"summary":"Listar cajas registradoras del tenant","operationId":"listarCajas","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCajaRegistradoraResponse"}}}}}},"post":{"tags":["Cajas Registradoras"],"summary":"Crear caja registradora","operationId":"crearCaja","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearCajaRegistradoraRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCajaRegistradoraResponse"}}}}}}},"/api/v1/compras/recepciones":{"get":{"tags":["Recepciones"],"summary":"Listar recepciones con filtros","operationId":"listar_17","parameters":[{"name":"ordenCompraId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"estado","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRecepcionCompraResponse"}}}}}},"post":{"tags":["Recepciones"],"summary":"Registrar recepción de compra","operationId":"crear_17","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearRecepcionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRecepcionCompraResponse"}}}}}}},"/api/v1/compras/ordenes":{"get":{"tags":["Compras"],"summary":"Listar órdenes de compra con filtros","operationId":"listar_18","parameters":[{"name":"estado","in":"query","required":false,"schema":{"type":"string"}},{"name":"proveedorId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListOrdenCompraResponse"}}}}}},"post":{"tags":["Compras"],"summary":"Crear orden de compra","operationId":"crear_18","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearOrdenCompraRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOrdenCompraResponse"}}}}}}},"/api/v1/caja/sesiones":{"get":{"tags":["Caja"],"summary":"Listar sesiones de caja","operationId":"listarSesiones","parameters":[{"name":"estado","in":"query","required":false,"schema":{"type":"string"}},{"name":"cajaId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListSesionCajaResponse"}}}}}},"post":{"tags":["Caja"],"summary":"Abrir sesión de caja","operationId":"abrirSesion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbrirSesionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSesionCajaResponse"}}}}}}},"/api/v1/caja/sesiones/{id}/movimientos":{"post":{"tags":["Caja"],"summary":"Registrar movimiento de caja (ingreso/egreso)","operationId":"registrarMovimiento","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MovimientoCajaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMovimientoCajaResponse"}}}}}}},"/api/v1/auth/register":{"post":{"tags":["Auth"],"summary":"Registrar nuevo usuario + tenant","operationId":"register_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthResponse"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["Auth"],"summary":"Renovar access token","operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthResponse"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["Auth"],"summary":"Invalidar token actual","operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Auth"],"summary":"Login de usuario tenant","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthResponse"}}}}}}},"/api/v1/almacenes":{"get":{"tags":["Almacenes"],"summary":"Listar almacenes del tenant","operationId":"listar_19","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListAlmacenResponse"}}}}}},"post":{"tags":["Almacenes"],"summary":"Crear almacén","operationId":"crear_19","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearAlmacenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAlmacenResponse"}}}}}}},"/api/v1/ventas/{id}/estado":{"patch":{"tags":["Ventas"],"summary":"Cambiar estado de venta","operationId":"cambiarEstado","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CambiarEstadoVentaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVentaResponse"}}}}}}},"/api/v1/usuarios/{id}/password":{"patch":{"tags":["Usuarios"],"summary":"Cambiar contraseña de usuario (solo Admin)","operationId":"cambiarPassword","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CambiarPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/usuarios/{id}/estado":{"patch":{"tags":["Usuarios"],"summary":"Activar/desactivar usuario (no puede desactivarse a sí mismo)","operationId":"cambiarEstado_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUsuarioResponse"}}}}}}},"/api/v1/transferencias/{id}/cancelar":{"patch":{"tags":["Transferencias"],"summary":"Cancelar transferencia pendiente","operationId":"cancelar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransferenciaResponse"}}}}}}},"/api/v1/transferencias/{id}/aprobar":{"patch":{"tags":["Transferencias"],"summary":"Aprobar transferencia → mueve stock + registra kardex en ambos almacenes","operationId":"aprobar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransferenciaResponse"}}}}}}},"/api/v1/storefront/pedidos/{id}/cancelar":{"patch":{"tags":["Storefront"],"summary":"Cancelar pedido (solo PENDIENTE o CONFIRMADO)","operationId":"cancelarPedido","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePedidoResponse"}}}}}}},"/api/v1/roles/{id}/estado":{"patch":{"tags":["Roles"],"summary":"Desactivar rol (validar sin usuarios asignados, no es_sistema)","operationId":"cambiarEstado_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRolResponse"}}}}}}},"/api/v1/productos/{id}/estado":{"patch":{"tags":["Productos"],"summary":"Cambiar estado de producto","operationId":"cambiarEstado_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstadoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductoResponse"}}}}}}},"/api/v1/platform/tickets/{id}":{"get":{"tags":["Platform - Operaciones"],"summary":"Detalle del ticket","operationId":"obtenerTicket","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTicketResponse"}}}}}},"patch":{"tags":["Platform - Operaciones"],"summary":"Responder / cambiar estado / cambiar prioridad","operationId":"actualizarTicket","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActualizarTicketRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTicketResponse"}}}}}}},"/api/v1/platform/tenants/{id}/estado":{"patch":{"tags":["Platform - Tenants"],"summary":"Suspender/activar tenant (motivo obligatorio si SUSPENDIDA)","operationId":"cambiarEstado_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CambiarEstadoTenantRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTenantResponse"}}}}}}},"/api/v1/platform/planes/{id}/estado":{"patch":{"tags":["Platform - Planes"],"summary":"Activar/desactivar plan","operationId":"cambiarEstado_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlanResponse"}}}}}}},"/api/v1/configuracion/series-comprobantes/{id}/estado":{"patch":{"tags":["Configuración General"],"summary":"Activar/desactivar serie","operationId":"cambiarEstadoSerie","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSerieComprobanteResponse"}}}}}}},"/api/v1/configuracion/metodos-pago/{id}/estado":{"patch":{"tags":["Configuración General"],"summary":"Activar/desactivar método de pago","operationId":"cambiarEstadoMetodoPago","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMetodoPagoResponse"}}}}}}},"/api/v1/configuracion/cajas-registradoras/{id}/estado":{"patch":{"tags":["Cajas Registradoras"],"summary":"Activar/desactivar caja registradora","operationId":"cambiarEstadoCaja","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCajaRegistradoraResponse"}}}}}}},"/api/v1/compras/recepciones/{id}/confirmar":{"patch":{"tags":["Recepciones"],"summary":"Confirmar recepción → incrementa stock + registra kardex + actualiza OC","operationId":"confirmar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRecepcionCompraResponse"}}}}}}},"/api/v1/compras/ordenes/{id}/estado":{"patch":{"tags":["Compras"],"summary":"Cambiar estado de OC (workflow: PENDIENTE→ENVIADA→CONFIRMADA→EN_RECEPCION→PARCIAL→COMPLETADA)","operationId":"cambiarEstado_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CambiarEstadoOCRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOrdenCompraResponse"}}}}}}},"/api/v1/caja/sesiones/{id}/cerrar":{"patch":{"tags":["Caja"],"summary":"Cerrar sesión de caja","operationId":"cerrarSesion","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CerrarSesionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSesionCajaResponse"}}}}}}},"/api/v1/almacenes/{id}/estado":{"patch":{"tags":["Almacenes"],"summary":"Activar/desactivar almacén","operationId":"cambiarEstado_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAlmacenResponse"}}}}}}},"/api/v1/ventas/{id}":{"get":{"tags":["Ventas"],"summary":"Detalle de venta con productos, pagos y cliente","operationId":"obtenerPorId_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVentaResponse"}}}}}},"delete":{"tags":["Ventas"],"summary":"Eliminar venta PENDIENTE","operationId":"eliminar_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/ventas/{id}/comprobante/preview":{"get":{"tags":["Ventas"],"summary":"Preview comprobante HTML","operationId":"previewComprobante","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/ventas/{id}/comprobante/pdf":{"get":{"tags":["Ventas"],"summary":"Descargar comprobante PDF","operationId":"descargarPdf","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/ubigeo/provincias":{"get":{"tags":["Ubigeo"],"summary":"Listar provincias por departamento (?departamentoId=x)","operationId":"listarProvincias","parameters":[{"name":"departamentoId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListUbigeoResponse"}}}}}}},"/api/v1/ubigeo/distritos":{"get":{"tags":["Ubigeo"],"summary":"Listar distritos por provincia (?provinciaId=x)","operationId":"listarDistritos","parameters":[{"name":"provinciaId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListUbigeoResponse"}}}}}}},"/api/v1/ubigeo/departamentos":{"get":{"tags":["Ubigeo"],"summary":"Listar 25 departamentos del Perú","operationId":"listarDepartamentos","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListUbigeoResponse"}}}}}}},"/api/v1/transferencias/{id}":{"get":{"tags":["Transferencias"],"summary":"Detalle de transferencia con productos","operationId":"obtenerPorId_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransferenciaResponse"}}}}}}},"/api/v1/storefront/productos":{"get":{"tags":["Storefront"],"summary":"Catálogo público de productos (no requiere auth)","operationId":"listarProductos","parameters":[{"name":"tenantId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"categoriaId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"marcaId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageProductoStorefrontResponse"}}}}}}},"/api/v1/storefront/productos/{slug}":{"get":{"tags":["Storefront"],"summary":"Detalle de producto por slug (no requiere auth)","operationId":"obtenerProducto","parameters":[{"name":"tenantId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductoStorefrontResponse"}}}}}}},"/api/v1/storefront/pedidos/{id}":{"get":{"tags":["Storefront"],"summary":"Detalle de un pedido (requiere auth storefront)","operationId":"obtenerPedido","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePedidoResponse"}}}}}}},"/api/v1/storefront/categorias":{"get":{"tags":["Storefront"],"summary":"Categorías activas (no requiere auth)","operationId":"listarCategorias","parameters":[{"name":"tenantId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCategoriaStorefrontResponse"}}}}}}},"/api/v1/reportes/ventas":{"get":{"tags":["Reportes"],"summary":"Reporte de ventas con totales y tendencias","operationId":"ventas","parameters":[{"name":"fechaDesde","in":"query","required":false,"schema":{"type":"string"}},{"name":"fechaHasta","in":"query","required":false,"schema":{"type":"string"}},{"name":"usuarioId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"clienteId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"tipoComprobante","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReporteVentasResponse"}}}}}}},"/api/v1/reportes/resumen":{"get":{"tags":["Reportes"],"summary":"Dashboard ejecutivo: ventas día/mes, stock bajo, alertas","operationId":"resumen","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseResumenDashboardResponse"}}}}}}},"/api/v1/reportes/productos-mas-vendidos":{"get":{"tags":["Reportes"],"summary":"Ranking top N productos más vendidos","operationId":"productosMasVendidos","parameters":[{"name":"fechaDesde","in":"query","required":false,"schema":{"type":"string"}},{"name":"fechaHasta","in":"query","required":false,"schema":{"type":"string"}},{"name":"categoriaId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"top","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductosMasVendidosResponse"}}}}}}},"/api/v1/reportes/inventario":{"get":{"tags":["Reportes"],"summary":"Estado del inventario + valorización","operationId":"inventario","parameters":[{"name":"almacenId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"categoriaId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReporteInventarioResponse"}}}}}}},"/api/v1/reportes/financiero":{"get":{"tags":["Reportes"],"summary":"Balance: ingresos (ventas) vs egresos (compras)","operationId":"financiero","parameters":[{"name":"fechaDesde","in":"query","required":false,"schema":{"type":"string"}},{"name":"fechaHasta","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReporteFinancieroResponse"}}}}}}},"/api/v1/reportes/compras":{"get":{"tags":["Reportes"],"summary":"Reporte de compras por proveedor","operationId":"compras","parameters":[{"name":"fechaDesde","in":"query","required":false,"schema":{"type":"string"}},{"name":"fechaHasta","in":"query","required":false,"schema":{"type":"string"}},{"name":"proveedorId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"estado","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReporteComprasResponse"}}}}}}},"/api/v1/reportes/caja":{"get":{"tags":["Reportes"],"summary":"Sesiones de caja: ventas, diferencias","operationId":"caja","parameters":[{"name":"fechaDesde","in":"query","required":false,"schema":{"type":"string"}},{"name":"fechaHasta","in":"query","required":false,"schema":{"type":"string"}},{"name":"cajaId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"usuarioId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReporteCajaResponse"}}}}}}},"/api/v1/productos/buscar":{"get":{"tags":["Productos"],"summary":"Buscar productos por nombre o SKU","operationId":"buscar","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListProductoResponse"}}}}}}},"/api/v1/platform/tickets":{"get":{"tags":["Platform - Operaciones"],"summary":"Listar tickets de soporte","operationId":"listarTickets","parameters":[{"name":"estado","in":"query","required":false,"schema":{"type":"string"}},{"name":"prioridad","in":"query","required":false,"schema":{"type":"string"}},{"name":"tenantId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListTicketResponse"}}}}}}},"/api/v1/platform/tenants/{id}/pagos":{"get":{"tags":["Platform - Tenants"],"summary":"Historial de pagos de un tenant","operationId":"historialPagos","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPagoResponse"}}}}}}},"/api/v1/platform/suscripciones/estado-pagos":{"get":{"tags":["Platform - Operaciones"],"summary":"Dashboard: al día, por vencer (7d), vencidos","operationId":"estadoPagos","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEstadoPagosResponse"}}}}}}},"/api/v1/platform/pagos/{id}/factura":{"get":{"tags":["Platform - Operaciones"],"summary":"Obtener factura/detalle del pago","operationId":"obtenerFactura","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagoResponse"}}}}}}},"/api/v1/platform/dashboard/ingresos":{"get":{"tags":["Platform - Operaciones"],"summary":"Dashboard de ingresos: métricas globales, por plan, top tenants","operationId":"dashboardIngresos","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDashboardIngresosResponse"}}}}}}},"/api/v1/platform/auditoria":{"get":{"tags":["Platform - Operaciones"],"summary":"Logs de auditoría global","operationId":"listarAuditoria","parameters":[{"name":"tenantId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"accion","in":"query","required":false,"schema":{"type":"string"}},{"name":"fechaDesde","in":"query","required":false,"schema":{"type":"string"}},{"name":"fechaHasta","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListAuditoriaResponse"}}}}}}},"/api/v1/notas-credito/{id}":{"get":{"tags":["Notas de Crédito"],"summary":"Detalle de nota de crédito con productos devueltos","operationId":"obtenerPorId_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseNotaCreditoResponse"}}}}}}},"/api/v1/inventario/stock":{"get":{"tags":["Inventario"],"summary":"Consultar stock por almacén","operationId":"consultarStock","parameters":[{"name":"almacenId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListStockResponse"}}}}}}},"/api/v1/inventario/stock/exportar":{"get":{"tags":["Inventario"],"summary":"Exportar stock a CSV","operationId":"exportarStock","parameters":[{"name":"almacenId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/inventario/kardex":{"get":{"tags":["Inventario"],"summary":"Consultar kardex (movimientos) de un producto","operationId":"getKardex","parameters":[{"name":"productoId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"almacenId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/inventario/alertas":{"get":{"tags":["Inventario"],"summary":"Listar productos con stock bajo mínimo","operationId":"getAlertas","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListStockResponse"}}}}}}},"/api/v1/entidades/estadisticas":{"get":{"tags":["Entidades Comerciales"],"summary":"Estadísticas de entidades comerciales","operationId":"estadisticas","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEntidadEstadisticasResponse"}}}}}}},"/api/v1/entidades/buscar-email":{"get":{"tags":["Entidades Comerciales"],"summary":"Buscar por email","operationId":"buscarPorEmail","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEntidadResponse"}}}}}}},"/api/v1/entidades/buscar-documento":{"get":{"tags":["Entidades Comerciales"],"summary":"Buscar por tipo y número de documento","operationId":"buscarPorDocumento","parameters":[{"name":"tipo","in":"query","required":true,"schema":{"type":"string"}},{"name":"numero","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEntidadResponse"}}}}}}},"/api/v1/compras/recepciones/{id}":{"get":{"tags":["Recepciones"],"summary":"Detalle de recepción con productos recibidos/aceptados/rechazados","operationId":"obtenerPorId_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRecepcionCompraResponse"}}}}}}},"/api/v1/compras/ordenes/{id}/pdf":{"get":{"tags":["Compras"],"summary":"Descargar OC como PDF/HTML","operationId":"descargarPdf_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/v1/compras/estadisticas":{"get":{"tags":["Compras"],"summary":"Estadísticas de compras: totales por estado, montos","operationId":"estadisticas_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseComprasEstadisticasResponse"}}}}}}},"/api/v1/auth/me":{"get":{"tags":["Auth"],"summary":"Información del usuario autenticado","operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserInfoResponse"}}}}}}},"/api/v1/auth/check-email":{"get":{"tags":["Auth"],"summary":"Verificar si email está registrado","operationId":"checkEmail","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringBoolean"}}}}}}},"/api/v1/productos/{productoId}/imagenes/{imagenId}":{"delete":{"tags":["Productos"],"summary":"Eliminar imagen de un producto","operationId":"eliminarImagen","parameters":[{"name":"productoId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"imagenId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}}},"components":{"schemas":{"ActualizarUsuarioRequest":{"type":"object","properties":{"email":{"type":"string","minLength":1},"nombre":{"type":"string","minLength":1},"apellido":{"type":"string","minLength":1},"rolId":{"type":"integer","format":"int64"}},"required":["rolId"]},"ApiResponseUsuarioResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UsuarioResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"PaginationMeta":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"UsuarioResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"email":{"type":"string"},"username":{"type":"string"},"nombre":{"type":"string"},"apellido":{"type":"string"},"rolId":{"type":"integer","format":"int64"},"rolNombre":{"type":"string"},"permisos":{"type":"string"},"estado":{"type":"boolean"},"ultimoAcceso":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ActualizarPerfilRequest":{"type":"object","properties":{"nombre":{"type":"string"},"apellido":{"type":"string"},"telefono":{"type":"string"},"direccion":{"type":"string"}}},"ApiResponsePerfilClienteResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PerfilClienteResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"PerfilClienteResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"email":{"type":"string"},"nombre":{"type":"string"},"apellido":{"type":"string"},"telefono":{"type":"string"},"direccion":{"type":"string"},"ultimoAcceso":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"CrearRolRequest":{"type":"object","properties":{"nombre":{"type":"string","minLength":1},"descripcion":{"type":"string"},"permisos":{"type":"string"}}},"ApiResponseRolResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RolResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"RolResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"descripcion":{"type":"string"},"permisos":{"type":"string"},"esSistema":{"type":"boolean"},"estado":{"type":"boolean"},"cantidadUsuarios":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ProductoRequest":{"type":"object","properties":{"sku":{"type":"string","maxLength":50,"minLength":0},"nombre":{"type":"string","maxLength":200,"minLength":0},"descripcion":{"type":"string"},"categoriaId":{"type":"integer","format":"int64"},"tallaId":{"type":"integer","format":"int64"},"colorId":{"type":"integer","format":"int64"},"marcaId":{"type":"integer","format":"int64"},"materialId":{"type":"integer","format":"int64"},"generoId":{"type":"integer","format":"int64"},"unidadMedidaId":{"type":"integer","format":"int64"},"codigoBarras":{"type":"string","maxLength":20,"minLength":0},"imagenUrl":{"type":"string","maxLength":500,"minLength":0},"precioCosto":{"type":"number"},"precioVenta":{"type":"number"},"stockMinimo":{"type":"integer","format":"int32"},"controlaInventario":{"type":"boolean"}},"required":["precioCosto","precioVenta"]},"ApiResponseProductoResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProductoResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"ProductoResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"sku":{"type":"string"},"nombre":{"type":"string"},"slug":{"type":"string"},"descripcion":{"type":"string"},"categoriaId":{"type":"integer","format":"int64"},"categoriaNombre":{"type":"string"},"tallaId":{"type":"integer","format":"int64"},"colorId":{"type":"integer","format":"int64"},"marcaId":{"type":"integer","format":"int64"},"materialId":{"type":"integer","format":"int64"},"generoId":{"type":"integer","format":"int64"},"unidadMedidaId":{"type":"integer","format":"int64"},"codigoBarras":{"type":"string"},"imagenUrl":{"type":"string"},"precioCosto":{"type":"number"},"precioVenta":{"type":"number"},"stockMinimo":{"type":"integer","format":"int32"},"controlaInventario":{"type":"boolean"},"enLiquidacion":{"type":"boolean"},"porcentajeLiquidacion":{"type":"number"},"estado":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ActualizarTenantRequest":{"type":"object","properties":{"nombre":{"type":"string","maxLength":150,"minLength":0},"email":{"type":"string","maxLength":150,"minLength":0},"telefono":{"type":"string","maxLength":20,"minLength":0},"direccion":{"type":"string"},"overrideMaxProductos":{"type":"integer","format":"int32"},"overrideMaxUsuarios":{"type":"integer","format":"int32"},"overrideMaxAlmacenes":{"type":"integer","format":"int32"},"overrideMaxVentasMes":{"type":"integer","format":"int32"}}},"ApiResponseTenantResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TenantResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"TenantResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"subdominio":{"type":"string"},"propietarioNombre":{"type":"string"},"propietarioTipoDocumento":{"type":"string"},"propietarioNumeroDocumento":{"type":"string"},"email":{"type":"string"},"telefono":{"type":"string"},"direccion":{"type":"string"},"estado":{"type":"string"},"motivoSuspension":{"type":"string"},"ultimaActividad":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"planActual":{"type":"string"},"planId":{"type":"integer","format":"int64"},"estadoSuscripcion":{"type":"string"},"cantidadUsuarios":{"type":"integer","format":"int64"},"cantidadProductos":{"type":"integer","format":"int64"}}},"ActualizarModulosTenantRequest":{"type":"object","properties":{"modulos":{"type":"array","items":{"$ref":"#/components/schemas/ModuloEstado"},"minItems":1}}},"ModuloEstado":{"type":"object","properties":{"moduloId":{"type":"integer","format":"int64"},"activo":{"type":"boolean"}}},"ApiResponseListModuloResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ModuloResponse"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"ModuloResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"codigo":{"type":"string"},"nombre":{"type":"string"},"descripcion":{"type":"string"},"activo":{"type":"boolean"}}},"CrearPlanRequest":{"type":"object","properties":{"nombre":{"type":"string","maxLength":50,"minLength":0},"descripcion":{"type":"string"},"precioMensual":{"type":"number","minimum":0.0},"precioAnual":{"type":"number","minimum":0.0},"maxProductos":{"type":"integer","format":"int32"},"maxUsuarios":{"type":"integer","format":"int32"},"maxAlmacenes":{"type":"integer","format":"int32"},"maxVentasMes":{"type":"integer","format":"int32"},"periodoPruebaDias":{"type":"integer","format":"int32"},"moduloIds":{"type":"array","items":{"type":"integer","format":"int64"}}},"required":["precioMensual"]},"ApiResponsePlanResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PlanResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"PlanResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"descripcion":{"type":"string"},"precioMensual":{"type":"number"},"precioAnual":{"type":"number"},"maxProductos":{"type":"integer","format":"int32"},"maxUsuarios":{"type":"integer","format":"int32"},"maxAlmacenes":{"type":"integer","format":"int32"},"maxVentasMes":{"type":"integer","format":"int32"},"periodoPruebaDias":{"type":"integer","format":"int32"},"estado":{"type":"boolean"},"cantidadTenants":{"type":"integer","format":"int64"},"modulos":{"type":"array","items":{"$ref":"#/components/schemas/ModuloResponse"}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"EntidadRequest":{"type":"object","properties":{"tipoEntidad":{"type":"string"},"tipoDocumento":{"type":"string","maxLength":10,"minLength":0},"numeroDocumento":{"type":"string","maxLength":20,"minLength":0},"nombres":{"type":"string","maxLength":100,"minLength":0},"apellidos":{"type":"string","maxLength":100,"minLength":0},"razonSocial":{"type":"string","maxLength":200,"minLength":0},"email":{"type":"string","maxLength":150,"minLength":0},"telefono":{"type":"string","maxLength":20,"minLength":0},"direccion":{"type":"string"},"departamentoId":{"type":"integer","format":"int64"},"provinciaId":{"type":"integer","format":"int64"},"distritoId":{"type":"integer","format":"int64"}}},"ApiResponseEntidadResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/EntidadResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"EntidadResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tipoEntidad":{"type":"string"},"tipoDocumento":{"type":"string"},"numeroDocumento":{"type":"string"},"nombres":{"type":"string"},"apellidos":{"type":"string"},"razonSocial":{"type":"string"},"email":{"type":"string"},"telefono":{"type":"string"},"direccion":{"type":"string"},"departamentoId":{"type":"integer","format":"int64"},"provinciaId":{"type":"integer","format":"int64"},"distritoId":{"type":"integer","format":"int64"},"estado":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"CatalogRequest":{"type":"object","properties":{"codigo":{"type":"string","maxLength":20,"minLength":0},"nombre":{"type":"string","maxLength":100,"minLength":0},"slug":{"type":"string","maxLength":120,"minLength":0},"descripcion":{"type":"string"},"codigoHex":{"type":"string","maxLength":7,"minLength":0},"logoUrl":{"type":"string","maxLength":500,"minLength":0},"ordenVisualizacion":{"type":"integer","format":"int32"},"simbolo":{"type":"string","maxLength":10,"minLength":0}}},"ApiResponseCatalogResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CatalogResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"CatalogResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"codigo":{"type":"string"},"nombre":{"type":"string"},"slug":{"type":"string"},"descripcion":{"type":"string"},"codigoHex":{"type":"string"},"logoUrl":{"type":"string"},"ordenVisualizacion":{"type":"integer","format":"int32"},"simbolo":{"type":"string"},"estado":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"CrearSerieComprobanteRequest":{"type":"object","properties":{"tipoComprobante":{"type":"string","minLength":1},"serie":{"type":"string","maxLength":4,"minLength":4},"numeroInicio":{"type":"integer","format":"int32"},"numeroFin":{"type":"integer","format":"int32"},"puntoEmision":{"type":"string"}}},"ApiResponseSerieComprobanteResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SerieComprobanteResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"SerieComprobanteResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tipoComprobante":{"type":"string"},"serie":{"type":"string"},"numeroActual":{"type":"integer","format":"int32"},"numeroInicio":{"type":"integer","format":"int32"},"numeroFin":{"type":"integer","format":"int32"},"puntoEmision":{"type":"string"},"estado":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"PoliticaDevolucionesRequest":{"type":"object","properties":{"diasDevolucionBoleta":{"type":"integer","format":"int32"},"diasDevolucionFactura":{"type":"integer","format":"int32"},"requiereEtiquetasOriginales":{"type":"boolean"},"requiereProductoSinUso":{"type":"boolean"},"diasVigenciaVale":{"type":"integer","format":"int32"}}},"ApiResponsePoliticaDevolucionesResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PoliticaDevolucionesResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"PoliticaDevolucionesResponse":{"type":"object","properties":{"diasDevolucionBoleta":{"type":"integer","format":"int32"},"diasDevolucionFactura":{"type":"integer","format":"int32"},"requiereEtiquetasOriginales":{"type":"boolean"},"requiereProductoSinUso":{"type":"boolean"},"diasVigenciaVale":{"type":"integer","format":"int32"}}},"CrearMotivoMovimientoRequest":{"type":"object","properties":{"tipo":{"type":"string","minLength":1},"codigo":{"type":"string","minLength":1},"nombre":{"type":"string","minLength":1},"descripcion":{"type":"string"},"requiereDocumento":{"type":"boolean"}}},"ApiResponseMotivoMovimientoResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MotivoMovimientoResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"MotivoMovimientoResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tipo":{"type":"string"},"codigo":{"type":"string"},"nombre":{"type":"string"},"descripcion":{"type":"string"},"requiereDocumento":{"type":"boolean"},"estado":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"CrearMetodoPagoRequest":{"type":"object","properties":{"codigo":{"type":"string","minLength":1},"nombre":{"type":"string","minLength":1},"descripcion":{"type":"string"},"tipo":{"type":"string","minLength":1},"requiereReferencia":{"type":"boolean"},"predeterminado":{"type":"boolean"}}},"ApiResponseMetodoPagoResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MetodoPagoResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"MetodoPagoResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"codigo":{"type":"string"},"nombre":{"type":"string"},"descripcion":{"type":"string"},"tipo":{"type":"string"},"requiereReferencia":{"type":"boolean"},"predeterminado":{"type":"boolean"},"estado":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ConfiguracionEmpresaRequest":{"type":"object","properties":{"ruc":{"type":"string"},"razonSocial":{"type":"string"},"nombreComercial":{"type":"string"},"direccion":{"type":"string"},"telefono":{"type":"string"},"email":{"type":"string"},"website":{"type":"string"},"logoUrl":{"type":"string"},"departamento":{"type":"string"},"provincia":{"type":"string"},"distrito":{"type":"string"},"igvActivo":{"type":"boolean"},"igvPorcentaje":{"type":"number"},"moneda":{"type":"string"},"sunatUsuario":{"type":"string"},"sunatClave":{"type":"string"},"sunatServidor":{"type":"string"}}},"ApiResponseConfiguracionEmpresaResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ConfiguracionEmpresaResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"ConfiguracionEmpresaResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"ruc":{"type":"string"},"razonSocial":{"type":"string"},"nombreComercial":{"type":"string"},"direccion":{"type":"string"},"telefono":{"type":"string"},"email":{"type":"string"},"website":{"type":"string"},"logoUrl":{"type":"string"},"departamento":{"type":"string"},"provincia":{"type":"string"},"distrito":{"type":"string"},"igvActivo":{"type":"boolean"},"igvPorcentaje":{"type":"number"},"moneda":{"type":"string"},"sunatUsuario":{"type":"string"},"sunatServidor":{"type":"string"},"diasDevolucionBoleta":{"type":"integer","format":"int32"},"diasDevolucionFactura":{"type":"integer","format":"int32"},"requiereEtiquetasOriginales":{"type":"boolean"},"requiereProductoSinUso":{"type":"boolean"},"diasVigenciaVale":{"type":"integer","format":"int32"},"updatedAt":{"type":"string","format":"date-time"}}},"CrearCajaRegistradoraRequest":{"type":"object","properties":{"codigo":{"type":"string","minLength":1},"nombre":{"type":"string","minLength":1},"ubicacion":{"type":"string"}}},"ApiResponseCajaRegistradoraResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CajaRegistradoraResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"CajaRegistradoraResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"codigo":{"type":"string"},"nombre":{"type":"string"},"ubicacion":{"type":"string"},"estado":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"CrearOrdenCompraRequest":{"type":"object","properties":{"proveedorId":{"type":"integer","format":"int64"},"almacenDestinoId":{"type":"integer","format":"int64"},"fechaEntregaEstimada":{"type":"string","format":"date"},"condicionesPago":{"type":"string"},"formaPago":{"type":"string"},"observaciones":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/ItemOrdenCompra"},"minItems":1}},"required":["almacenDestinoId","proveedorId"]},"ItemOrdenCompra":{"type":"object","properties":{"productoId":{"type":"integer","format":"int64"},"cantidadOrdenada":{"type":"integer","format":"int32"},"precioUnitario":{"type":"number"},"descuento":{"type":"number"},"observaciones":{"type":"string"}},"required":["cantidadOrdenada","precioUnitario","productoId"]},"ApiResponseOrdenCompraResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/OrdenCompraResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"DetalleOrdenCompraResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"productoId":{"type":"integer","format":"int64"},"productoNombre":{"type":"string"},"cantidadOrdenada":{"type":"integer","format":"int32"},"cantidadRecibida":{"type":"integer","format":"int32"},"precioUnitario":{"type":"number"},"descuento":{"type":"number"},"subtotal":{"type":"number"},"igv":{"type":"number"},"total":{"type":"number"},"observaciones":{"type":"string"}}},"OrdenCompraResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"codigo":{"type":"string"},"proveedorId":{"type":"integer","format":"int64"},"proveedorNombre":{"type":"string"},"almacenDestinoId":{"type":"integer","format":"int64"},"almacenDestinoNombre":{"type":"string"},"usuarioId":{"type":"integer","format":"int64"},"fechaEmision":{"type":"string","format":"date"},"fechaEntregaEstimada":{"type":"string","format":"date"},"condicionesPago":{"type":"string"},"formaPago":{"type":"string"},"moneda":{"type":"string"},"subtotal":{"type":"number"},"descuento":{"type":"number"},"igv":{"type":"number"},"total":{"type":"number"},"estado":{"type":"string"},"observaciones":{"type":"string"},"detalles":{"type":"array","items":{"$ref":"#/components/schemas/DetalleOrdenCompraResponse"}},"createdAt":{"type":"string","format":"date-time"}}},"CrearAlmacenRequest":{"type":"object","properties":{"codigo":{"type":"string","minLength":1},"nombre":{"type":"string","minLength":1},"ubicacion":{"type":"string"},"capacidad":{"type":"integer","format":"int32"}}},"AlmacenResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"codigo":{"type":"string"},"nombre":{"type":"string"},"ubicacion":{"type":"string"},"capacidad":{"type":"integer","format":"int32"},"estado":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ApiResponseAlmacenResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AlmacenResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"CrearVentaRequest":{"type":"object","properties":{"sesionCajaId":{"type":"integer","format":"int64"},"clienteId":{"type":"integer","format":"int64"},"almacenId":{"type":"integer","format":"int64"},"tipoComprobante":{"type":"string"},"serie":{"type":"string"},"numero":{"type":"string"},"observaciones":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/ItemVenta"},"minItems":1}},"required":["almacenId"]},"ItemVenta":{"type":"object","properties":{"productoId":{"type":"integer","format":"int64"},"cantidad":{"type":"integer","format":"int32"},"precioUnitario":{"type":"number"},"descuento":{"type":"number"}},"required":["cantidad","precioUnitario","productoId"]},"ApiResponseVentaResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/VentaResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"DetalleVentaResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"productoId":{"type":"integer","format":"int64"},"nombreProducto":{"type":"string"},"cantidad":{"type":"integer","format":"int32"},"precioUnitario":{"type":"number"},"descuento":{"type":"number"},"subtotal":{"type":"number"}}},"PagoVentaResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"metodoPagoId":{"type":"integer","format":"int64"},"monto":{"type":"number"},"referencia":{"type":"string"},"observaciones":{"type":"string"},"orden":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"}}},"VentaResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"codigoVenta":{"type":"string"},"sesionCajaId":{"type":"integer","format":"int64"},"clienteId":{"type":"integer","format":"int64"},"clienteNombre":{"type":"string"},"almacenId":{"type":"integer","format":"int64"},"almacenNombre":{"type":"string"},"usuarioId":{"type":"integer","format":"int64"},"fechaEmision":{"type":"string","format":"date-time"},"tipoComprobante":{"type":"string"},"serie":{"type":"string"},"numero":{"type":"string"},"subtotal":{"type":"number"},"igv":{"type":"number"},"descuento":{"type":"number"},"total":{"type":"number"},"montoRecibido":{"type":"number"},"montoCambio":{"type":"number"},"estado":{"type":"string"},"fechaPago":{"type":"string","format":"date-time"},"observaciones":{"type":"string"},"detalles":{"type":"array","items":{"$ref":"#/components/schemas/DetalleVentaResponse"}},"pagos":{"type":"array","items":{"$ref":"#/components/schemas/PagoVentaResponse"}},"createdAt":{"type":"string","format":"date-time"}}},"ConfirmarPagoRequest":{"type":"object","properties":{"montoRecibido":{"type":"number"},"pagos":{"type":"array","items":{"$ref":"#/components/schemas/PagoItem"},"minItems":1}},"required":["montoRecibido"]},"PagoItem":{"type":"object","properties":{"metodoPagoId":{"type":"integer","format":"int64"},"monto":{"type":"number"},"referencia":{"type":"string"}},"required":["metodoPagoId","monto"]},"CrearUsuarioRequest":{"type":"object","properties":{"email":{"type":"string","minLength":1},"username":{"type":"string","maxLength":50,"minLength":3},"password":{"type":"string","maxLength":2147483647,"minLength":8,"pattern":"^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d).+$"},"nombre":{"type":"string","minLength":1},"apellido":{"type":"string","minLength":1},"rolId":{"type":"integer","format":"int64"}},"required":["rolId"]},"CrearTransferenciaRequest":{"type":"object","properties":{"almacenOrigenId":{"type":"integer","format":"int64"},"almacenDestinoId":{"type":"integer","format":"int64"},"motivo":{"type":"string"},"observaciones":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/ItemTransferencia"},"minItems":1}},"required":["almacenDestinoId","almacenOrigenId"]},"ItemTransferencia":{"type":"object","properties":{"productoId":{"type":"integer","format":"int64"},"cantidad":{"type":"integer","format":"int32"}},"required":["cantidad","productoId"]},"ApiResponseTransferenciaResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TransferenciaResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"DetalleTransferenciaResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"productoId":{"type":"integer","format":"int64"},"productoNombre":{"type":"string"},"cantidad":{"type":"integer","format":"int32"}}},"TransferenciaResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"codigo":{"type":"string"},"almacenOrigenId":{"type":"integer","format":"int64"},"almacenOrigenNombre":{"type":"string"},"almacenDestinoId":{"type":"integer","format":"int64"},"almacenDestinoNombre":{"type":"string"},"motivo":{"type":"string"},"solicitadoPorId":{"type":"integer","format":"int64"},"aprobadoPorId":{"type":"integer","format":"int64"},"fechaAprobacion":{"type":"string","format":"date-time"},"estado":{"type":"string"},"observaciones":{"type":"string"},"detalles":{"type":"array","items":{"$ref":"#/components/schemas/DetalleTransferenciaResponse"}},"createdAt":{"type":"string","format":"date-time"}}},"CrearPedidoRequest":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ItemPedido"},"minItems":1},"direccionEnvio":{"type":"string"},"instrucciones":{"type":"string"}}},"ItemPedido":{"type":"object","properties":{"productoId":{"type":"integer","format":"int64"},"cantidad":{"type":"integer","format":"int32"}},"required":["cantidad","productoId"]},"ApiResponsePedidoResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PedidoResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}},"DetallePedidoResponse":{"type":"object","properties":{"productoId":{"type":"integer","format":"int64"},"nombreProducto":{"type":"string"},"cantidad":{"type":"integer","format":"int32"},"precioUnitario":{"type":"number"},"descuento":{"type":"number"},"subtotal":{"type":"number"}}},"PedidoResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"codigo":{"type":"string"},"estado":{"type":"string"},"subtotal":{"type":"number"},"igv":{"type":"number"},"descuento":{"type":"number"},"total":{"type":"number"},"direccionEnvio":{"type":"string"},"instrucciones":{"type":"string"},"createdAt":{"type":"string","format":"date-t
[...]
